In [1]:
numrows=3

In [2]:
for row in (range(numrows)):
    print(row+1)

1
2
3

In [3]:
type(row)

int

In [4]:
def column_letter_to_number(column_letter):
    """Converts an Excel column letter to a column number.

    Args:
        column_letter: The column letter to convert.

    Returns:
        The column number.
    """
    column_number = 0
    for c in column_letter:
        if c in string.ascii_letters:
            column_number = column_number * 26 + (ord(c.upper()) - ord('A')) + 1
    return column_number

def column_number_to_letter(column_number):
    """Converts a column number to an Excel column letter.

    Args:
        column_number: The column number to convert.

    Returns:
        The column letter.
    """
    column_letter = ""
    while column_number > 0:
        column_number, remainder = divmod(column_number - 1, 26)
        column_letter = chr(65 + remainder) + column_letter
    return column_letter

In [5]:
column_number_to_letter(0+1)

'A'

In [6]:
import pandas as pd

In [7]:
cols = []
for col in range(3):
    cols.append(column_number_to_letter(col+1))

In [8]:
df = pd.DataFrame(index=range(1,numrows+1), columns=cols)

In [9]:
print(df)

     A    B    C
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

In [ ]:
f= open("guru99.txt","w+")
for i in range(10):
     f.write(txt)
f.close()

In [ ]:
f

In [ ]:
for i in range(10):
     f.write("This is line\n")

In [ ]:
f.close()

In [ ]:
df.at[1,'A'] = '=C1+C2'
df.at[1,'B'] = '4'
df.at[1,'C'] = '1'
df.at[2,'C'] = '2'
df.at[3,'C'] = '=A1+B1' 
df.at[3,'B'] = 'TOTAL'

In [14]:
for i, row in df.iterrows():
    for j, cell in row.items():
        print(str((cell)))
        if (str(cell) == ('nan')) or ((cell) == 'NaN') or ((cell) == ('nan')):
            print('awa')
            cell = str('')
            print(type(cell))

nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>
nan
awa
<class 'str'>

In [ ]:
for index, row in df.iterrows():
    for col in row.items():
        if (str(col) == None) or (str(col) == 'NaN') or (str(col) == ('nan')):
            row[col] = ''

In [ ]:
for index, row in df.iterrows():
    for col in ['A', 'B' , 'C']:
        if (str(row[col]) == None) or (str(row[col]) == 'NaN') or (str(row[col]) == ('nan')):
            row[col] = ''

In [13]:
df

     A    B    C
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

In [ ]:
txt = ''
for col in ['A', 'B' , 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']:
    for index, row in df.iterrows():
        if ((row[col]) == ''):
            txt = f'{txt};'
        else:
            txt = f'{txt}{row[col]}'
    txt = f'{txt}\n'

In [ ]:
txt = ''
cols = 10
for index, row in df.iterrows():
    for col in (range(cols)):
        if ((row[column_number_to_letter(col+1)]) == ''):
            txt = f'{txt};'
        else:
            txt = f'{txt}{row[col]};'
    txt = f'{txt}\n'

In [ ]:
df

In [ ]:
txt

In [ ]:
f= open("guru99.txt","w+")
f.write(txt)
f.close()

In [ ]:
df.columns

In [ ]:
with open('guru99.txt', 'r') as file:
    lines = file.readlines()
    num_lines = len(lines)
    for line in lines:
        awa=line.split('\n')[0]
        awa2 = awa.split(';')
        print(awa2)
        df = pd.concat([df, pd.DataFrame([awa2], columns=df.columns)], ignore_index=True)

In [ ]:
line

In [ ]:
len(df.columns)

In [ ]:
txt = ''
for idx, row in enumerate(df.iterrows()):
    for col in range(len(df.columns)):
        if ((row[idx+1][column_number_to_letter(col+1)]) == ''):
            txt = f'{txt};'
        elif (col != len(df.columns)):
            txt = f'{txt}{row[idx+1][col]}'
        else:
            txt = f'{txt}{row[idx+1][col]};'
    txt = f'{txt}\n'

f= open('awa.txt',"w+")
f.write(txt)
f.close()

In [ ]:
for idx, row in enumerate(df.iterrows()):
    print(idx)
    print(row[idx+1]['A'])
    break

In [ ]:
row fila

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

for i, row in df.iterrows():
    for j, cell in row.items():
        print(f'Row {i}, Column {j}: {cell}')

In [ ]:
print(row.items())

In [37]:
eh = "3;;;''TOTAL';"
print(len(eh.split(';')))

5

In [31]:
eh2 = ";;'=A1-A2';;"
print(eh2.split(';')[-1])

In [35]:
awe = eh2.split(';')[-1]

In [38]:
ncols = []
with open('awa.txt', 'r') as file:
    lines = file.readlines()
    nrows = len(lines)
    for line in lines:
        ncols.append(len(line.split(';'))-1)
    ncols = max(ncols)

In [39]:
ncols

4

In [36]:
awe

''

In [55]:
import re
s = "AA13"
digits = int(re.findall(r'\d+', s)[0])
letters = re.findall(r'[a-zA-Z]+', s)[0]

In [54]:
int(digits[0])

13

In [53]:
letters[0]

'AA'

In [56]:
digits

13

In [57]:
letters

'AA'